In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline



from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df = pd.read_csv("fifa21.csv")

C:\Users\admin\AppData\Local\Temp\ipykernel_6776\777016886.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fifa21.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [4]:
df.drop('Loan Date End', axis=1, inplace=True)

In [5]:
df['Height'] = df['Height'].str[:-2]
df['Weight'] = df['Weight'].str[:-2]

In [6]:
print(df['Height'])
print(df['Weight'])

0        170
1        187
2        188
3        181
4        175
        ...
18974    178
18975    175
18976    179
18977    175
18978    188
Name: Height, Length: 18979, dtype: object
0        72
1        83
2        87
3        70
4        68
         ..
18974    66
18975    65
18976    74
18977    69
18978    75
Name: Weight, Length: 18979, dtype: object

In [7]:
df['Club'] = df['Club'].str.lstrip()
df['Club'] = df['Club'].replace('No Club', 'No')
print(df['Club'])

0               FC Barcelona
1                   Juventus
2            Atlético Madrid
3            Manchester City
4        Paris Saint-Germain
                ...
18974             Wuhan Zall
18975        Oldham Athletic
18976             Derry City
18977       Dalian YiFang FC
18978       Dalian YiFang FC
Name: Club, Length: 18979, dtype: object

In [8]:
df[['Start Of Contract', 'End Of Contract']] = df['Contract'].str.split('~', n=1, expand=True)

In [9]:
df.drop('Contract', axis = 1, inplace=True)

In [10]:
unique_values = df['Start Of Contract'].unique()
print(unique_values)

['2004 ' '2018 ' '2014 ' '2015 ' '2017 ' '2016 ' '2013 ' '2011 ' '2009 '
 '2005 ' '2010 ' '2012 ' '2019 ' '2020 ' '2008 ' '2007 '
 'Jun 30, 2021 On Loan' 'Free' '2002 ' 'Dec 31, 2020 On Loan'
 'Jan 30, 2021 On Loan' 'Jun 30, 2022 On Loan' 'May 31, 2021 On Loan'
 '2006 ' 'Jul 5, 2021 On Loan' 'Dec 31, 2021 On Loan'
 'Jul 1, 2021 On Loan' 'Jan 1, 2021 On Loan' 'Aug 31, 2021 On Loan'
 '2003 ' 'Jan 31, 2021 On Loan' 'Dec 30, 2021 On Loan'
 'Jun 23, 2021 On Loan' 'Jan 3, 2021 On Loan' 'Nov 27, 2021 On Loan'
 'Jan 17, 2021 On Loan' 'Jun 30, 2023 On Loan' '1998 '
 'Jul 31, 2021 On Loan' 'Nov 22, 2020 On Loan' 'May 31, 2022 On Loan'
 'Dec 30, 2020 On Loan' 'Jan 4, 2021 On Loan' 'Nov 30, 2020 On Loan'
 'Aug 1, 2021 On Loan']

In [11]:
unique_values_2 = df['Hits'].unique()
print(unique_values_2)

['771' '562' '150' '207' '595' '248' '246' '120' '1.6K' '130' '321' '189'
 '175' '96' '118' '216' '212' '154' '205' '202' '339' '408' '103' '332'
 '86' '173' '161' '396' '1.1K' '433' '242' '206' '177' '1.5K' '198' '459'
 '117' '119' '209' '84' '187' '165' '203' '65' '336' '126' '313' '124'
 '145' '538' '182' '101' '45' '377' '99' '194' '403' '414' '593' '374'
 '245' '3.2K' '266' '299' '309' '215' '265' '211' '112' '337' '70' '159'
 '688' '116' '63' '144' '123' '71' '224' '113' '168' '61' '89' '137' '278'
 '75' '148' '176' '197' '264' '214' '247' '402' '440' '1.7K' '2.3K' '171'
 '320' '657' '87' '259' '200' '255' '253' '196' '60' '97' '85' '169' '256'
 '132' '239' '166' '121' '109' '32' '46' '122' '48' '527' '199' '282' '51'
 '1.9K' '642' '155' '323' '288' '497' '509' '79' '49' '270' '511' '80'
 '128' '115' '156' '204' '143' '140' '152' '220' '134' '225' '94' '74'
 '135' '142' '50' '77' '40' '107' '193' '179' '34' '64' '453' '57' '81'
 '28' '78' '133' '43' '425' '88' '42' '36' '233' '376' '210' '444' '100'
 '263' '98' '29' '160' '39' '257' '6' '310' '138' '62' '293' '285' '362'
 '66' '69' '58' '21' '20' '131' '38' '406' '68' '108' '110' '93' '512'
 '443' '306' '352' '422' '585' '346' '178' '841' '76' '394' '72' '172'
 '44' '407' '230' '367' '295' '157' '243' '56' '111' '326' '679' '18' '92'
 '59' '25' '184' '53' '12' '90' '55' '73' '11' '566' '180' '83' '262' '17'
 '26' '31' '280' '359' '213' '297' '387' '480' '381' '677' '486' '8' '244'
 '129' '388' '275' '319' '2K' '52' '91' '421' '153' '27' '41' '222' '35'
 '102' '23' '30' '33' '146' '13' '19' '14' '106' '276' '568' '353' '47'
 '478' '249' '254' '369' '219' '565' '237' '227' '434' '375' '162' '605'
 '654' '3' '7' '9' '104' '114' '186' '446' '756' '22' '139' '500' '67'
 '147' '149' '16' '82' '54' '37' '15' '1.3K' '3K' '952' '5' '749' '541'
 '330' '393' '517' '770' '409' '170' '125' '283' '342' '363' '580' '105'
 '217' '24' '141' '10' '427' '158' '426' '4' '666' '181' '324' '979'
 '1.4K' '302' '751' '298' '411' '944' '2' '947' '292' '349' '621' '1'
 '2.8K' '338' '287' '261' '218' '1.8K' '240' '279' '229' '188' '315' '664'
 '613' '190' '706' '127' '462' '386' '695' '491' '167' '281' '250' '307'
 '95' '231' '174' '680' '633' '221' '348' '602' '183' '653' '195' '164'
 '151' '258' '8.4K' '343' '419' '655' '136' '399' '531' '357' '228' '385'
 '312' '340' '238' '487' '355' '499' '4.3K' '296' '515' '943' '1.2K' '903'
 '335' '191' '594' '267' '617' '516' '504' '331' '652' '410' '550' '473'
 '442' '344' '208' '1K' '2.5K' '273' '485' '826' '192' '405' '941' '477'
 '644' '303' '417' '6K' nan 11.0 2.0 1.0 31.0 3.0 10.0 9.0 17.0 7.0 4.0
 6.0]

In [12]:
df['Start Of Contract'].replace('Jun 30, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Dec 31, 2020 On Loan', '2020', inplace=True)
df['Start Of Contract'].replace('Jan 30, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jun 30, 2022 On Loan', '2022', inplace=True)
df['Start Of Contract'].replace('May 31, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jul 5, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Dec 31, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jul 1, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jan 1, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Aug 31, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jan 31, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Dec 30, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jun 23, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jul 5, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jan 3, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Nov 27, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jan 17, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Jun 30, 2023 On Loan', '2023', inplace=True)
df['Start Of Contract'].replace('Jul 31, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Nov 22, 2020 On Loan', '2020', inplace=True)
df['Start Of Contract'].replace('May 31, 2022 On Loan', '2022', inplace=True)
df['Start Of Contract'].replace('Dec 30, 2020 On Loan', '2020', inplace=True)
df['Start Of Contract'].replace('Jan 4, 2021 On Loan', '2021', inplace=True)
df['Start Of Contract'].replace('Nov 30, 2020 On Loan', '2020', inplace=True)
df['Start Of Contract'].replace('Aug 1, 2021 On Loan', '2021', inplace=True)

In [13]:
df['End Of Contract'].replace('', pd.NA, inplace=True)

In [14]:
df['End Of Contract'].fillna(df['Start Of Contract'], inplace=True)

In [15]:
df['Start Of Contract'].replace('free', pd.NA, inplace=True)
df['End Of Contract'].replace('free', pd.NA, inplace=True)

In [16]:
def clean_column(df, column_name):
    def clean_amount(value):
        # Remove currency symbols
        if isinstance(value, str):
            value = value.replace('â‚¬', '').replace('€', '').replace('â˜…','').replace('★','')
        
        # Check for 'M' (million) and 'K' (thousand) and convert accordingly
            if 'M' in value:
                return float(value.replace('M', '')) * 1_000_000
            elif 'K' in value:
                return float(value.replace('K', '')) * 1_000
            else:
                return float(value)  # In case no 'M' or 'K' is present
            return value  # If it's already a float or numeric value
    df[column_name + '_Cleaned'] = df[column_name].apply(clean_amount)
    
    return df
        

df = clean_column(df, 'Value')
df = clean_column(df, 'Wage')
df = clean_column(df, 'Release Clause')
df = clean_column(df, 'W/F')
df = clean_column(df, 'SM')
df = clean_column(df, 'IR')
df = clean_column(df, 'Hits')

In [17]:
df.drop('Value', axis=1, inplace=True)
df.drop('Wage', axis=1, inplace=True)
df.drop('Release Clause', axis=1, inplace=True)
df.drop('W/F', axis=1, inplace=True)
df.drop('SM', axis=1, inplace=True)
df.drop('IR', axis=1, inplace=True)
df.drop('Hits', axis=1, inplace=True)

In [18]:
df.to_csv('df.csv', index=False)